<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-feature android:name="android.hardware.usb.host" android:required="true" />

    <queries>
        <package android:name="com.mediashots.defkoniv" />
        <package android:name="marto.rtl_tcp_andro" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="iqsrc" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_bridge_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.DefkonAdsbBridge">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.DefkonAdsbBridge">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/rtl_sdr_device_filter" />
        </activity>
        <service
            android:name=".BridgeService"
            android:exported="false"
            android:foregroundServiceType="connectedDevice|dataSync" />
    </application>
</manifest>
